@font-face {
  font-family: 'Golos';
  src: url(../../public/font/GolosText-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LcWeb';
  src: url(../../public/font/graphiklcweb_medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url(../../public/font/roadradio_bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GroteskPro';
  src: url(../../public/font/akzidenzgroteskpro_md.ttf);
  font-weight: normal;
  font-style: normal;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  content: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  font-family: Geometria, sans-serif;
  font-weight: 400;
}

body {
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

label input {
  display: none;
}

label span {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  position: relative;
  background-color: #F5F5F5;
  border-radius: 0.4rem;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  padding: 2px 0 0 2px;
  color: white;
  border-radius: 0.4rem;
  background-color: #BF2738;
}

label span:hover {
  background-color: #BF2738;
}

body {
  font-family: "RoadRadio", sans-serif;
  font-weight: 400;
  color: #262633;
  font-size: 1.6rem;
}

input {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #262633;
}

input::placeholder {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #797986;
}

input[type=submit] {
  color: white;
  background-color: white;
  font-family: RoadRadio, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

textarea {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #262633;
}

textarea::placeholder {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #797986;
}

.header__number {
  font-family: "Golos", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.header__mail {
  font-family: "LcWeb", sans-serif;
  font-size: 1.3rem;
  line-height: 1.56rem;
  font-weight: 300;
  color: #797986;
}

.header__link {
  font-family: "Golos", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
}

.btn_typ {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: white;
  white-space: nowrap;
}

.underHeader__link {
  font-family: Golos,sans-serif;
  font-size: 1.2rem;
  line-height: 1.44rem;
  text-align: center;
  color: #797986;
}

.underHeader__link_second {
  color: rgba(121, 121, 134, 0.7);
}

.underHeader__main_style {
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .underHeader__main_style {
    font-size: 3.2rem;
    line-height: 100%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .underHeader__main_style {
    font-size: 2.2rem;
    line-height: 100%;
  }
}

@media (min-width: 1024px) {
  .underHeader__main_style {
    font-size: 4.6rem;
    line-height: 100%;
  }
}

.info {
  font-family: Golos,sans-serif;
  white-space: nowrap;
}

.info__number_style {
  font-family: RoadRadio,sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  .info__number_style {
    font-size: 2.8rem;
    line-height: 120%;
  }
}

@media (min-width: 1024px) {
  .info__number_style {
    font-size: 3.6rem;
    line-height: 110%;
  }
}

.info__mail_style {
  cursor: pointer;
  color: #BF2738;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 400;
}

.info__name_style {
  font-family: Golos,sans-serif;
  font-size: 1.7rem;
  line-height: 110%;
  white-space: normal;
}

@media (min-width: 768px) {
  .info__name_style {
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.96rem;
    color: #262633;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .info__name_style {
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.96rem;
    color: #262633;
  }
}

@media (min-width: 1024px) {
  .info__name_style {
    font-size: 1.7rem;
    line-height: 110%;
  }
}

.info__description_style {
  color: #808080;
  font-size: 1.3rem;
  line-height: 1.95rem;
}

.form__title {
  font-size: 3.6rem;
  line-height: 110%;
}

@media (min-width: 768px) {
  .form__title {
    font-size: 2.8rem;
    line-height: 120%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .form__title {
    font-size: 2.2rem;
    line-height: 100%;
  }
}

@media (min-width: 1024px) {
  .form__title {
    font-size: 3.6rem;
    line-height: 110%;
  }
}

.form__main_checkbox_label {
  font-family: Golos, sans-serif;
  color: #808080;
  font-size: 1.3rem;
  line-height: 1.56rem;
}

.form__main_checkbox_label_link {
  color: black;
}

.form__main_checkbox_label_link:hover {
  color: #808080;
}

.container__card {
  font-family: Golos, sans-serif;
}

.container__card_title {
  font-family: RoadRadio, sans-serif;
  font-size: 2.6rem;
  line-height: 120%;
}

.container__card_number {
  font-size: 1.9rem;
  line-height: 2.85rem;
}

.container__card_state {
  font-size: 1.4rem;
  line-height: 1.96rem;
  color: #797986;
}

.container__card_button {
  font-size: 1.4rem;
  line-height: 1.96rem;
  color: #F23147;
}

.container__card_time {
  font-size: 1.4rem;
  line-height: 1.96rem;
}

.footer__top {
  color: white;
}

.footer__top_left_link {
  font-family: Golos, sans-serif;
  font-family: Golos, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.36rem;
}

@media (min-width: 768px) {
  .footer__top_left_link {
    font-size: 2rem;
    line-height: 3.4rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_left_link {
    font-size: 2rem;
    line-height: 3.4rem;
  }
}

@media (min-width: 1024px) {
  .footer__top_left_link {
    font-size: 2.4rem;
    line-height: 3.36rem;
  }
}

.footer__top_left_grid {
  color: #797986;
  font-weight: 400;
  font-family: GroteskPro, sans-serif;
  line-height: 2.88rem;
}

.footer__top_left_grid_link:hover {
  color: white;
}

.footer__top_right_info_number {
  font-family: Golos, sans-serif;
  color: white;
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_right_info_number {
    font-size: 2.3rem;
    line-height: 3.45rem;
  }
}

@media (min-width: 768px) {
  .footer__top_right_info_number {
    font-size: 2.3rem;
    line-height: 3.45rem;
  }
}

@media (min-width: 1920px) {
  .footer__top_right_info_number {
    font-size: 3rem;
    line-height: 130%;
    font-weight: 500;
  }
}

.footer__top_right_info_button {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.footer__top_right_street {
  font-family: GroteskPro,sans-serif;
  font-size: 1.6rem;
  line-height: 2.08rem;
  font-weight: 300;
}

.footer__top_right_mail {
  text-transform: lowercase;
}

@media (min-width: 768px) {
  .footer__top_right_mail {
    font-size: 1.9rem;
    line-height: 110%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_right_mail {
    font-size: 1.9rem;
    line-height: 110%;
  }
}

@media (min-width: 1024px) {
  .footer__top_right_mail {
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.36rem;
  }
}

.footer__bottom {
  color: #797986;
  font-size: 1.3rem;
  line-height: 1.43rem;
  font-family: GroteskPro, sans-serif;
}

.footer__link {
  color: #b3b3c7;
}

.footer__link:hover {
  color: #797986;
}

.title-first {
  color: #262633;
  animation-timing-function: ease;
}

.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 1s;
  animation-delay: .5s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

.title-first__secondary {
  display: block;
  font-weight: lighter;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .5rem;
  animation-name: rightToLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  margin-bottom: 6.5rem;
  animation-fill-mode: backwards;
}

@font-face {
  font-family: 'Golos';
  src: url(../../public/font/GolosText-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LcWeb';
  src: url(../../public/font/graphiklcweb_medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url(../../public/font/roadradio_bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GroteskPro';
  src: url(../../public/font/akzidenzgroteskpro_md.ttf);
  font-weight: normal;
  font-style: normal;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  content: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  font-family: Geometria, sans-serif;
  font-weight: 400;
}

body {
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

label input {
  display: none;
}

label span {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  position: relative;
  background-color: #F5F5F5;
  border-radius: 0.4rem;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  padding: 2px 0 0 2px;
  color: white;
  border-radius: 0.4rem;
  background-color: #BF2738;
}

label span:hover {
  background-color: #BF2738;
}

.btn {
  padding: 1.9rem 2.8rem;
  background: #BF2738;
  border-radius: 1.4rem;
  transition: all .3s;
  height: max-content;
}

@media (min-width: 768px) {
  .btn {
    display: none;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .btn {
    display: none;
  }
}

@media (min-width: 1024px) {
  .btn {
    display: table;
    margin-left: auto;
  }
}

.btn:hover {
  background-color: #CC2A3C;
  cursor: pointer;
}

.btn:active {
  background-color: #991F2D;
}

.btn__footer {
  padding: 1.9rem 2.7rem;
  background: transparent;
  border-radius: 1.4rem;
  border: 2px solid #494950;
  height: max-content;
  width: 19rem;
  white-space: nowrap;
}

.btn__footer:hover {
  background-color: #212126;
  cursor: pointer;
}

.btn__form {
  padding: 1.9rem 3.7rem;
  background: #BF2738;
  border-radius: 1.4rem;
  height: max-content;
  color: white;
  font-family: RoadRadio, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
}

.btn__form:hover {
  background-color: #CC2A3C;
  cursor: pointer;
}

.btn__form:active {
  background-color: #991F2D;
}

@font-face {
  font-family: 'Golos';
  src: url(../../public/font/GolosText-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LcWeb';
  src: url(../../public/font/graphiklcweb_medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url(../../public/font/roadradio_bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GroteskPro';
  src: url(../../public/font/akzidenzgroteskpro_md.ttf);
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: row;
  height: 9.2rem;
  align-items: center;
}

@media (max-width: 767px) and (min-width: 320px) {
  .header {
    display: flex;
    flex-direction: row;
    margin: 0 1.6rem;
    height: 6.5rem;
  }
}

@media (min-width: 768px) {
  .header {
    margin: 0 2.8rem;
    height: 6.5rem;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 9.2rem;
  }
}

@media (min-width: 1920px) {
  .header {
    margin: 0 31.5rem;
  }
}

.header__menu {
  margin-right: auto;
}

.header__search {
  margin-left: 2.3rem;
}

@media (min-width: 768px) {
  .header__search {
    margin-left: auto;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .header__search {
    margin-left: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .header__search {
    margin-left: 2.3rem;
  }
}

.header__comparison {
  margin-left: 2.3rem;
}

@media (min-width: 768px) {
  .header__comparison {
    margin-left: 7.4rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .header__comparison {
    margin-left: auto;
    display: block;
  }
}

@media (min-width: 1024px) {
  .header__comparison {
    margin-left: auto;
  }
}

.header__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5.8rem;
}

@media (min-width: 768px) {
  .header__info {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .header__info {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header__info {
    margin-left: 5.8rem;
  }
}

.header__link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 768px) {
  .header__link {
    margin-right: auto;
  }
}

.header__link_first {
  margin-left: 5.9rem;
}

@media (max-width: 767px) and (min-width: 320px) {
  .header__link_first {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__link_first {
    display: table;
    margin-right: 3rem;
    margin-left: 0;
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.96rem;
    color: #797986;
    color: #262633;
  }
}

@media (min-width: 1024px) {
  .header__link_first {
    display: table;
    margin-right: auto;
  }
}

.header__link_middle {
  margin: 0 4.6rem;
}

@media (max-width: 767px) and (min-width: 320px) {
  .header__link_middle {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__link_middle {
    display: table;
    margin: 0;
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.96rem;
    color: #797986;
    color: #262633;
  }
}

@media (min-width: 1024px) {
  .header__link_middle {
    margin: 0 4.6rem;
  }
}

@media (min-width: 768px) {
  .header__link_last {
    display: none;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .header__link_last {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header__link_last {
    display: table;
    margin-left: auto;
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.96rem;
    color: #797986;
    color: #262633;
  }
}

.header__number {
  margin-bottom: 6px;
}

@media (max-width: 767px) and (min-width: 320px) {
  .header__number {
    display: none;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .header__mail {
    display: none;
  }
}

.main__logo {
  margin: 0;
}

@media (max-width: 767px) and (min-width: 320px) {
  .main__logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .main__logo {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main__logo {
    display: table;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .main__logo_mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .main__logo_mobile {
    display: none;
    margin: 0;
  }
}

.dop__logo {
  margin: 0;
}

@media (min-width: 768px) {
  .dop__logo {
    display: table;
  }
}

@media (min-width: 1024px) {
  .dop__logo {
    display: none;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .dop__logo {
    display: none;
  }
}

@font-face {
  font-family: 'Golos';
  src: url(../../public/font/GolosText-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LcWeb';
  src: url(../../public/font/graphiklcweb_medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url(../../public/font/roadradio_bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GroteskPro';
  src: url(../../public/font/akzidenzgroteskpro_md.ttf);
  font-weight: normal;
  font-style: normal;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  content: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  font-family: Geometria, sans-serif;
  font-weight: 400;
}

body {
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

label input {
  display: none;
}

label span {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  position: relative;
  background-color: #F5F5F5;
  border-radius: 0.4rem;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  padding: 2px 0 0 2px;
  color: white;
  border-radius: 0.4rem;
  background-color: #BF2738;
}

label span:hover {
  background-color: #BF2738;
}

body {
  font-family: "RoadRadio", sans-serif;
  font-weight: 400;
  color: #262633;
  font-size: 1.6rem;
}

input {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #262633;
}

input::placeholder {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #797986;
}

input[type=submit] {
  color: white;
  background-color: white;
  font-family: RoadRadio, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

textarea {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #262633;
}

textarea::placeholder {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #797986;
}

.header__number {
  font-family: "Golos", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.header__mail {
  font-family: "LcWeb", sans-serif;
  font-size: 1.3rem;
  line-height: 1.56rem;
  font-weight: 300;
  color: #797986;
}

.header__link {
  font-family: "Golos", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
}

.btn_typ {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: white;
  white-space: nowrap;
}

.underHeader__link {
  font-family: Golos,sans-serif;
  font-size: 1.2rem;
  line-height: 1.44rem;
  text-align: center;
  color: #797986;
}

.underHeader__link_second {
  color: rgba(121, 121, 134, 0.7);
}

.underHeader__main_style {
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .underHeader__main_style {
    font-size: 3.2rem;
    line-height: 100%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .underHeader__main_style {
    font-size: 2.2rem;
    line-height: 100%;
  }
}

@media (min-width: 1024px) {
  .underHeader__main_style {
    font-size: 4.6rem;
    line-height: 100%;
  }
}

.info {
  font-family: Golos,sans-serif;
  white-space: nowrap;
}

.info__number_style {
  font-family: RoadRadio,sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  .info__number_style {
    font-size: 2.8rem;
    line-height: 120%;
  }
}

@media (min-width: 1024px) {
  .info__number_style {
    font-size: 3.6rem;
    line-height: 110%;
  }
}

.info__mail_style {
  cursor: pointer;
  color: #BF2738;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 400;
}

.info__name_style {
  font-family: Golos,sans-serif;
  font-size: 1.7rem;
  line-height: 110%;
  white-space: normal;
}

@media (min-width: 768px) {
  .info__name_style {
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.96rem;
    color: #262633;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .info__name_style {
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.96rem;
    color: #262633;
  }
}

@media (min-width: 1024px) {
  .info__name_style {
    font-size: 1.7rem;
    line-height: 110%;
  }
}

.info__description_style {
  color: #808080;
  font-size: 1.3rem;
  line-height: 1.95rem;
}

.form__title {
  font-size: 3.6rem;
  line-height: 110%;
}

@media (min-width: 768px) {
  .form__title {
    font-size: 2.8rem;
    line-height: 120%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .form__title {
    font-size: 2.2rem;
    line-height: 100%;
  }
}

@media (min-width: 1024px) {
  .form__title {
    font-size: 3.6rem;
    line-height: 110%;
  }
}

.form__main_checkbox_label {
  font-family: Golos, sans-serif;
  color: #808080;
  font-size: 1.3rem;
  line-height: 1.56rem;
}

.form__main_checkbox_label_link {
  color: black;
}

.form__main_checkbox_label_link:hover {
  color: #808080;
}

.container__card {
  font-family: Golos, sans-serif;
}

.container__card_title {
  font-family: RoadRadio, sans-serif;
  font-size: 2.6rem;
  line-height: 120%;
}

.container__card_number {
  font-size: 1.9rem;
  line-height: 2.85rem;
}

.container__card_state {
  font-size: 1.4rem;
  line-height: 1.96rem;
  color: #797986;
}

.container__card_button {
  font-size: 1.4rem;
  line-height: 1.96rem;
  color: #F23147;
}

.container__card_time {
  font-size: 1.4rem;
  line-height: 1.96rem;
}

.footer__top {
  color: white;
}

.footer__top_left_link {
  font-family: Golos, sans-serif;
  font-family: Golos, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.36rem;
}

@media (min-width: 768px) {
  .footer__top_left_link {
    font-size: 2rem;
    line-height: 3.4rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_left_link {
    font-size: 2rem;
    line-height: 3.4rem;
  }
}

@media (min-width: 1024px) {
  .footer__top_left_link {
    font-size: 2.4rem;
    line-height: 3.36rem;
  }
}

.footer__top_left_grid {
  color: #797986;
  font-weight: 400;
  font-family: GroteskPro, sans-serif;
  line-height: 2.88rem;
}

.footer__top_left_grid_link:hover {
  color: white;
}

.footer__top_right_info_number {
  font-family: Golos, sans-serif;
  color: white;
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_right_info_number {
    font-size: 2.3rem;
    line-height: 3.45rem;
  }
}

@media (min-width: 768px) {
  .footer__top_right_info_number {
    font-size: 2.3rem;
    line-height: 3.45rem;
  }
}

@media (min-width: 1920px) {
  .footer__top_right_info_number {
    font-size: 3rem;
    line-height: 130%;
    font-weight: 500;
  }
}

.footer__top_right_info_button {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.footer__top_right_street {
  font-family: GroteskPro,sans-serif;
  font-size: 1.6rem;
  line-height: 2.08rem;
  font-weight: 300;
}

.footer__top_right_mail {
  text-transform: lowercase;
}

@media (min-width: 768px) {
  .footer__top_right_mail {
    font-size: 1.9rem;
    line-height: 110%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_right_mail {
    font-size: 1.9rem;
    line-height: 110%;
  }
}

@media (min-width: 1024px) {
  .footer__top_right_mail {
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.36rem;
  }
}

.footer__bottom {
  color: #797986;
  font-size: 1.3rem;
  line-height: 1.43rem;
  font-family: GroteskPro, sans-serif;
}

.footer__link {
  color: #b3b3c7;
}

.footer__link:hover {
  color: #797986;
}

.title-first {
  color: #262633;
  animation-timing-function: ease;
}

.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 1s;
  animation-delay: .5s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

.title-first__secondary {
  display: block;
  font-weight: lighter;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .5rem;
  animation-name: rightToLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  margin-bottom: 6.5rem;
  animation-fill-mode: backwards;
}

.main__contact {
  display: flex;
  flex-direction: row;
  margin: 0 31.5rem;
}

@media (min-width: 768px) {
  .main__contact {
    margin: 0 2.9rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .main__contact {
    margin: 0 1.6rem;
    flex-direction: column;
    gap: 5rem;
  }
}

@media (min-width: 1920px) {
  .main__contact {
    margin: 0 31.5rem;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .main__contact {
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .main__map {
    margin-top: 5rem;
    margin-bottom: 5.9rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .main__map {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  .main__map {
    margin-top: 6.6rem;
    margin-bottom: 8.1rem;
  }
}

@media (min-width: 768px) {
  .main__map_setting {
    height: 480px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .main__map_setting {
    height: 477px;
  }
}

@media (min-width: 1024px) {
  .main__map_setting {
    height: 599px;
  }
}

.main__cards {
  margin: 0 31.5rem;
}

@media (min-width: 768px) {
  .main__cards {
    margin: 0 2.9rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .main__cards {
    margin: 0 1.6rem;
  }
}

@media (min-width: 1920px) {
  .main__cards {
    margin: 0 31.5rem;
  }
}

.info {
  white-space: normal;
}

.info__number {
  margin-right: 31.1rem;
}

.info__mail {
  margin-bottom: 2rem;
}

.info__name {
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) and (min-width: 320px) {
  .info__name {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .info__name {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  .info {
    white-space: normal;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .info {
    white-space: normal;
  }
}

.description__place {
  margin-bottom: 1rem;
  white-space: normal;
}

@media (max-width: 767px) and (min-width: 320px) {
  .description__place {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .description__place {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .form {
    padding-left: 7.3rem;
  }
}

@media (min-width: 1024px) {
  .form {
    width: fit-content;
    padding: 0;
  }
}

.form__title {
  margin-bottom: 2rem;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .form__title {
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .form__title {
    margin-bottom: 1rem;
  }
}

.form__main {
  display: flex;
  flex-direction: column;
  width: min-content;
}

@media (min-width: 768px) {
  .form__main {
    width: 100%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .form__main {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .form__main {
    width: fit-content;
  }
}

.form__main_top {
  display: flex;
  gap: 3rem;
  flex-direction: row;
}

@media (min-width: 768px) {
  .form__main_top {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .form__main_top {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .form__main_top {
    flex-direction: row;
    gap: 3rem;
  }
}

.form__main_top_name {
  background: #F5F5F5;
  border: transparent;
  border-radius: 1.4rem;
  padding: 1.7rem 0 1.1rem 2rem;
}

@media (min-width: 768px) {
  .form__main_top_name {
    width: 100%;
    height: 6rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .form__main_top_name {
    width: 100%;
    height: 6rem;
  }
}

@media (min-width: 1024px) {
  .form__main_top_name {
    width: 30rem;
    height: 5.2rem;
  }
}

.form__main_top_number {
  background: #F5F5F5;
  border: transparent;
  border-radius: 1.4rem;
  padding: 1.7rem 0 1.1rem 2rem;
}

@media (min-width: 768px) {
  .form__main_top_number {
    width: 100%;
    height: 6rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .form__main_top_number {
    width: 100%;
    height: 6rem;
  }
}

@media (min-width: 1024px) {
  .form__main_top_number {
    width: 30rem;
    height: 5.2rem;
  }
}

.form__main_bottom_message {
  background: #F5F5F5;
  border: transparent;
  border-radius: 1.4rem;
  padding: 1.7rem 2rem 1.1rem 2rem;
  resize: none;
}

@media (min-width: 768px) {
  .form__main_bottom_message {
    width: 100%;
    height: 16.6rem;
    margin-top: 1.2rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .form__main_bottom_message {
    width: 100%;
    height: 16.6rem;
    margin-top: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .form__main_bottom_message {
    width: 63rem;
    height: 13.3rem;
    margin-top: 2.8rem;
  }
}

.form__main_checkbox {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 3.3rem;
}

@media (min-width: 768px) {
  .form__main_checkbox {
    padding-bottom: 3rem;
  }
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .container {
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    margin-bottom: 8rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .container {
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto;
    margin-bottom: 6rem;
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 3rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    margin-bottom: 10rem;
  }
}

.container__card {
  display: flex;
  flex-direction: column;
  padding: 3.3rem 0 4rem 2.2rem;
  background-color: #F5F5F5;
  border-radius: 2rem;
}

.container__card_title {
  padding-bottom: 1.5rem;
}

.container__card_state {
  padding-top: 1rem;
  padding-bottom: 0.6rem;
}

.container__card_button {
  padding-bottom: 2rem;
}

.container__card_button:hover {
  color: #CC2A3C;
}

.container__card_time {
  margin-top: auto;
}

@media (max-width: 767px) and (min-width: 320px) {
  .container__card_number {
    white-space: pre-line;
    padding-right: 1rem;
  }
}

#last {
  grid-row: span 1;
  grid-column: span 2;
  width: auto;
}

@media (min-width: 768px) {
  #last {
    grid-row: span 1;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  #last {
    grid-row: span 1;
    grid-column: span 1;
  }
}

.footer__top {
  display: flex;
  height: 39.9rem;
}

@media (min-width: 768px) {
  .footer__top {
    height: 35.9rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .footer__top {
    height: 39.9rem;
  }
}

.footer__top_left {
  display: block;
  width: 50%;
  background-color: #212121;
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_left {
    width: 100%;
  }
}

.footer__top_left_link {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  padding-top: 6.3rem;
  padding-bottom: 6.9rem;
  width: fit-content;
  gap: 1rem;
}

@media (min-width: 768px) {
  .footer__top_left_link {
    padding-top: 4.9rem;
    padding-bottom: 4.6rem;
    gap: 0;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_left_link {
    padding-top: 4.1rem;
    padding-bottom: 1.5rem;
    gap: 0;
  }
}

@media (min-width: 1024px) {
  .footer__top_left_link {
    padding-top: 6.3rem;
    padding-bottom: 6.9rem;
    gap: 1rem;
  }
}

.footer__top_left_link a:hover {
  color: #F23147;
}

.footer__top_left_grid {
  display: flex;
  flex-direction: column;
  padding-bottom: 4.3rem;
}

@media (min-width: 768px) {
  .footer__top_left_grid {
    flex-direction: column;
    width: 34.9rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_left_grid {
    flex-direction: column;
    padding-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .footer__top_left_grid {
    width: auto;
  }
}

.footer__top_left_grid_first {
  display: flex;
  gap: 1.8rem;
  flex-direction: row;
}

@media (min-width: 768px) {
  .footer__top_left_grid_first {
    flex-wrap: wrap;
    column-gap: 1.8rem;
    row-gap: 0;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_left_grid_first {
    flex-wrap: wrap;
    column-gap: 1.8rem;
    row-gap: 0;
  }
}

.footer__top_left_grid_second {
  display: flex;
  gap: 1.8rem;
  flex-direction: row;
}

@media (min-width: 768px) {
  .footer__top_left_grid_second {
    flex-wrap: wrap;
    column-gap: 1.8rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_left_grid_second {
    flex-wrap: wrap;
    column-gap: 1.8rem;
    row-gap: 0;
  }
}

.footer__top_right {
  display: block;
  width: 50%;
  background-color: #2A2A2E;
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_right {
    width: 100%;
  }
}

.footer__top_right_info {
  display: flex;
  flex-direction: row;
  padding-top: 6.3rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .footer__top_right_info {
    flex-direction: column;
    padding-bottom: 1.5rem;
    padding-top: 4.9rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_right_info {
    flex-direction: column;
    padding-bottom: 1.5rem;
    padding-top: 4rem;
  }
}

@media (min-width: 1024px) {
  .footer__top_right_info {
    padding-top: 6.3rem;
    padding-bottom: 2rem;
    flex-direction: row;
  }
}

.footer__top_right_info_number {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .footer__top_right_info_number {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_right_info_number {
    margin-bottom: 2rem;
    gap: 0;
  }
}

@media (min-width: 1024px) {
  .footer__top_right_info_number {
    margin-right: 6.1rem;
    margin-bottom: 0;
  }
}

.footer__top_right_mail {
  color: #F23147;
}

.footer__top_right_street {
  padding-top: 9.7rem;
}

@media (min-width: 768px) {
  .footer__top_right_street {
    padding-top: 3.3rem;
    padding-right: 1.8rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_right_street {
    padding-top: 4.2rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1024px) {
  .footer__top_right_street {
    padding-top: 10rem;
  }
}

.footer__bottom {
  display: flex;
  border-top: rgba(0, 0, 0, 0.8) solid 0.2rem;
}

@media (min-width: 768px) {
  .footer__bottom {
    height: 6.1rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__bottom {
    height: 8.4rem;
  }
}

@media (min-width: 1024px) {
  .footer__bottom {
    height: 7rem;
  }
}

.footer__bottom_left {
  display: block;
  flex: 1 1 0%;
  background-color: #212121;
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__bottom_left {
    display: none;
  }
}

.footer__bottom_left_info {
  padding-top: 2.3rem;
}

@media (min-width: 768px) {
  .footer__bottom_left_info {
    padding-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .footer__bottom_left_info {
    padding-top: 2.3rem;
  }
}

.footer__bottom_right {
  display: block;
  flex: 1 1 0%;
  background-color: #2A2A2E;
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__bottom_right {
    width: 100%;
  }
}

.footer__bottom_right_info {
  padding-top: 2.3rem;
}

@media (min-width: 768px) {
  .footer__bottom_right_info {
    padding-top: 2rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__bottom_right_info {
    padding-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .footer__bottom_right_info {
    padding-top: 2.3rem;
  }
}

@media (min-width: 768px) {
  .footer__bottom_right_info_mob {
    display: none;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__bottom_right_info_mob {
    display: table;
    padding-top: 2rem;
  }
}

.left_indentation {
  margin-left: 31.5rem;
}

@media (min-width: 768px) {
  .left_indentation {
    margin-left: 2.9rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .left_indentation {
    margin-left: 1.5rem;
  }
}

.right_indentation {
  margin-right: 31.5rem;
  margin-left: 12.7rem;
}

@media (min-width: 768px) {
  .right_indentation {
    margin-left: 4rem;
    margin-right: 0;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .right_indentation {
    margin-left: 1.5rem;
    margin-right: 0;
  }
}

#tablet_show {
  display: none;
}

@media (min-width: 768px) {
  #tablet_show {
    display: table;
  }
}

@media (min-width: 1024px) {
  #tablet_show {
    display: none;
  }
}

#tablet_hid {
  display: table;
}

@media (min-width: 768px) {
  #tablet_hid {
    display: none;
  }
}

@media (min-width: 1024px) {
  #tablet_hid {
    display: table;
  }
}

@font-face {
  font-family: 'Golos';
  src: url(../../public/font/GolosText-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LcWeb';
  src: url(../../public/font/graphiklcweb_medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RoadRadio';
  src: url(../../public/font/roadradio_bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GroteskPro';
  src: url(../../public/font/akzidenzgroteskpro_md.ttf);
  font-weight: normal;
  font-style: normal;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  content: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  font-family: Geometria, sans-serif;
  font-weight: 400;
}

body {
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

label input {
  display: none;
}

label span {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  position: relative;
  background-color: #F5F5F5;
  border-radius: 0.4rem;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  padding: 2px 0 0 2px;
  color: white;
  border-radius: 0.4rem;
  background-color: #BF2738;
}

label span:hover {
  background-color: #BF2738;
}

body {
  font-family: "RoadRadio", sans-serif;
  font-weight: 400;
  color: #262633;
  font-size: 1.6rem;
}

input {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #262633;
}

input::placeholder {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #797986;
}

input[type=submit] {
  color: white;
  background-color: white;
  font-family: RoadRadio, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

textarea {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #262633;
}

textarea::placeholder {
  font-family: Golos, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #797986;
}

.header__number {
  font-family: "Golos", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.header__mail {
  font-family: "LcWeb", sans-serif;
  font-size: 1.3rem;
  line-height: 1.56rem;
  font-weight: 300;
  color: #797986;
}

.header__link {
  font-family: "Golos", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
}

.btn_typ {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: white;
  white-space: nowrap;
}

.underHeader__link {
  font-family: Golos,sans-serif;
  font-size: 1.2rem;
  line-height: 1.44rem;
  text-align: center;
  color: #797986;
}

.underHeader__link_second {
  color: rgba(121, 121, 134, 0.7);
}

.underHeader__main_style {
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .underHeader__main_style {
    font-size: 3.2rem;
    line-height: 100%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .underHeader__main_style {
    font-size: 2.2rem;
    line-height: 100%;
  }
}

@media (min-width: 1024px) {
  .underHeader__main_style {
    font-size: 4.6rem;
    line-height: 100%;
  }
}

.info {
  font-family: Golos,sans-serif;
  white-space: nowrap;
}

.info__number_style {
  font-family: RoadRadio,sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  .info__number_style {
    font-size: 2.8rem;
    line-height: 120%;
  }
}

@media (min-width: 1024px) {
  .info__number_style {
    font-size: 3.6rem;
    line-height: 110%;
  }
}

.info__mail_style {
  cursor: pointer;
  color: #BF2738;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 400;
}

.info__name_style {
  font-family: Golos,sans-serif;
  font-size: 1.7rem;
  line-height: 110%;
  white-space: normal;
}

@media (min-width: 768px) {
  .info__name_style {
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.96rem;
    color: #262633;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .info__name_style {
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.96rem;
    color: #262633;
  }
}

@media (min-width: 1024px) {
  .info__name_style {
    font-size: 1.7rem;
    line-height: 110%;
  }
}

.info__description_style {
  color: #808080;
  font-size: 1.3rem;
  line-height: 1.95rem;
}

.form__title {
  font-size: 3.6rem;
  line-height: 110%;
}

@media (min-width: 768px) {
  .form__title {
    font-size: 2.8rem;
    line-height: 120%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .form__title {
    font-size: 2.2rem;
    line-height: 100%;
  }
}

@media (min-width: 1024px) {
  .form__title {
    font-size: 3.6rem;
    line-height: 110%;
  }
}

.form__main_checkbox_label {
  font-family: Golos, sans-serif;
  color: #808080;
  font-size: 1.3rem;
  line-height: 1.56rem;
}

.form__main_checkbox_label_link {
  color: black;
}

.form__main_checkbox_label_link:hover {
  color: #808080;
}

.container__card {
  font-family: Golos, sans-serif;
}

.container__card_title {
  font-family: RoadRadio, sans-serif;
  font-size: 2.6rem;
  line-height: 120%;
}

.container__card_number {
  font-size: 1.9rem;
  line-height: 2.85rem;
}

.container__card_state {
  font-size: 1.4rem;
  line-height: 1.96rem;
  color: #797986;
}

.container__card_button {
  font-size: 1.4rem;
  line-height: 1.96rem;
  color: #F23147;
}

.container__card_time {
  font-size: 1.4rem;
  line-height: 1.96rem;
}

.footer__top {
  color: white;
}

.footer__top_left_link {
  font-family: Golos, sans-serif;
  font-family: Golos, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.36rem;
}

@media (min-width: 768px) {
  .footer__top_left_link {
    font-size: 2rem;
    line-height: 3.4rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_left_link {
    font-size: 2rem;
    line-height: 3.4rem;
  }
}

@media (min-width: 1024px) {
  .footer__top_left_link {
    font-size: 2.4rem;
    line-height: 3.36rem;
  }
}

.footer__top_left_grid {
  color: #797986;
  font-weight: 400;
  font-family: GroteskPro, sans-serif;
  line-height: 2.88rem;
}

.footer__top_left_grid_link:hover {
  color: white;
}

.footer__top_right_info_number {
  font-family: Golos, sans-serif;
  color: white;
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_right_info_number {
    font-size: 2.3rem;
    line-height: 3.45rem;
  }
}

@media (min-width: 768px) {
  .footer__top_right_info_number {
    font-size: 2.3rem;
    line-height: 3.45rem;
  }
}

@media (min-width: 1920px) {
  .footer__top_right_info_number {
    font-size: 3rem;
    line-height: 130%;
    font-weight: 500;
  }
}

.footer__top_right_info_button {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.footer__top_right_street {
  font-family: GroteskPro,sans-serif;
  font-size: 1.6rem;
  line-height: 2.08rem;
  font-weight: 300;
}

.footer__top_right_mail {
  text-transform: lowercase;
}

@media (min-width: 768px) {
  .footer__top_right_mail {
    font-size: 1.9rem;
    line-height: 110%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .footer__top_right_mail {
    font-size: 1.9rem;
    line-height: 110%;
  }
}

@media (min-width: 1024px) {
  .footer__top_right_mail {
    font-family: Golos, sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.36rem;
  }
}

.footer__bottom {
  color: #797986;
  font-size: 1.3rem;
  line-height: 1.43rem;
  font-family: GroteskPro, sans-serif;
}

.footer__link {
  color: #b3b3c7;
}

.footer__link:hover {
  color: #797986;
}

.title-first {
  color: #262633;
  animation-timing-function: ease;
}

.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 1s;
  animation-delay: .5s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

.title-first__secondary {
  display: block;
  font-weight: lighter;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .5rem;
  animation-name: rightToLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  margin-bottom: 6.5rem;
  animation-fill-mode: backwards;
}

.underHeader {
  background-color: #F5F5F5;
  margin-bottom: 6.2rem;
}

@media (min-width: 768px) {
  .underHeader {
    margin-bottom: 4rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .underHeader {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  .underHeader {
    margin-bottom: 6.2rem;
  }
}

.underHeader__link {
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.underHeader__link_first {
  margin-right: 0.85rem;
}

.underHeader__link_second {
  margin-left: 0.85rem;
}

@media (min-width: 768px) {
  .underHeader__link {
    height: 4.8rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .underHeader__link {
    height: 4.8rem;
  }
}

@media (min-width: 1024px) {
  .underHeader__link {
    height: 6rem;
  }
}

.underHeader__main {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
}

@media (min-width: 768px) {
  .underHeader__main {
    height: 6.2rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .underHeader__main {
    height: 6.6rem;
  }
}

@media (min-width: 1024px) {
  .underHeader__main {
    height: 9.8rem;
  }
}
