@font-face { font-family: 'Golos'; src: url(../../public/font/GolosText-VariableFont_wght.ttf); font-weight: normal; font-style: normal; }

@font-face { font-family: 'LcWeb'; src: url(../../public/font/graphiklcweb_medium.ttf); font-weight: normal; font-style: normal; }

@font-face { font-family: 'RoadRadio'; src: url(../../public/font/roadradio_bold.otf); font-weight: normal; font-style: normal; }

@font-face { font-family: 'GroteskPro'; src: url(../../public/font/akzidenzgroteskpro_md.ttf); font-weight: normal; font-style: normal; }

*, ::after, ::before { margin: 0; padding: 0; box-sizing: border-box; }

button { padding: 0; border: none; font: inherit; color: inherit; background-color: transparent; cursor: pointer; }

html { font-size: 62.5%; font-family: Geometria, sans-serif; font-weight: 400; }

body { background-color: white; }

a { color: inherit; text-decoration: none; background-color: transparent; cursor: pointer; }

.symetry { position: relative; }

body { font-family: "RoadRadio", sans-serif; font-weight: 400; color: #262633; font-size: 1.6rem; }

h1 { font-size: 4.6rem; line-height: 100%; }

h2 { font-size: 3.6rem; line-height: 110%; }

h3 { font-size: 3rem; line-height: 130%; font-weight: 500; }

h4 { font-size: 2.6rem; line-height: 120%; }

h5 { font-size: 2.4rem; line-height: 130%; }

.text_big { font-family: Golos, sans-serif; font-weight: 400; font-size: 2.4rem; line-height: 3.36rem; }

.text_big_mobile { font-family: Golos, sans-serif; font-weight: 400; font-size: 1.6rem; line-height: 2.4rem; }

.text_norm { font-family: Golos, sans-serif; font-weight: 400; font-size: 1.6rem; line-height: 2.4rem; color: #262633; }

.text_norm_mobile { font-family: Golos, sans-serif; font-weight: 400; font-size: 1.4rem; line-height: 1.96rem; color: #262633; }

.text_little { font-family: Golos, sans-serif; font-weight: 400; font-size: 1.4rem; line-height: 1.96rem; color: #797986; }

.text_little_mobile { font-family: Golos, sans-serif; font-weight: 400; font-size: 1.2rem; line-height: 1.68rem; color: #797986; }

input { font-family: Golos, sans-serif; font-size: 1.6rem; line-height: 2.4rem; color: #262633; }

input::placeholder { font-family: Golos, sans-serif; font-size: 1.6rem; line-height: 2.4rem; color: #797986; }

input[type=submit] { color: white; background-color: white; font-family: RoadRadio, sans-serif; font-size: 1.4rem; line-height: 1.4rem; }

textarea { font-family: Golos, sans-serif; font-size: 1.6rem; line-height: 2.4rem; color: #262633; }

textarea::placeholder { font-family: Golos, sans-serif; font-size: 1.6rem; line-height: 2.4rem; color: #797986; }

.header__number { font-family: "Golos", sans-serif; font-size: 1.5rem; line-height: 1.8rem; font-weight: 600; white-space: nowrap; }

.header__mail { font-family: "LcWeb", sans-serif; font-size: 1.3rem; line-height: 1.56rem; font-weight: 300; color: #797986; }

.header__link { font-family: "Golos", sans-serif; font-size: 1.5rem; line-height: 1.8rem; font-weight: 400; }

.btn_typ { font-size: 1.4rem; line-height: 1.4rem; font-weight: 400; color: white; white-space: nowrap; }

.underHeader__link { font-family: Golos,sans-serif; font-size: 1.2rem; line-height: 1.44rem; text-align: center; color: #797986; }

.underHeader__link_second { color: rgba(121, 121, 134, 0.7); }

.underHeader__main { font-size: 4.6rem; line-height: 4.6rem; font-weight: 400; }

.info { font-family: Golos,sans-serif; }

.info__number_style { font-family: RoadRadio,sans-serif; font-weight: 400; }

.info__mail_style { cursor: pointer; color: #BF2738; font-size: 2.5rem; line-height: 3rem; font-weight: 400; }

.info__name_style { font-family: Golos,sans-serif; font-size: 1.7rem; line-height: 110%; }

.info__description_style { color: #808080; font-size: 1.3rem; line-height: 1.95rem; }

.form__main_checkbox_label { font-family: Golos, sans-serif; color: #808080; font-size: 1.3rem; line-height: 1.56rem; }

.form__main_checkbox_label_link { color: black; }

.form__main_checkbox_label_link:hover { color: #808080; }

.container__card { font-family: Golos, sans-serif; }

.container__card_title { font-family: RoadRadio, sans-serif; }

.container__card_number { font-size: 1.9rem; line-height: 2.85rem; }

.container__card_state { font-size: 1.4rem; line-height: 1.96rem; color: #797986; }

.container__card_button { font-size: 1.4rem; line-height: 1.96rem; color: #BF2738; }

.container__card_time { font-size: 1.4rem; line-height: 1.96rem; }

.footer__top { color: white; }

.footer__top_left_link { font-family: Golos, sans-serif; }

.footer__top_left_grid { color: #797986; font-weight: 400; font-family: GroteskPro, sans-serif; line-height: 2.88rem; }

.footer__top_left_grid_link:hover { color: white; }

.footer__top_right_info_number { font-family: Golos, sans-serif; color: white; }

.footer__top_right_info_button { font-size: 1.4rem; line-height: 1.4rem; }

.footer__top_right_street { font-family: GroteskPro,sans-serif; font-size: 1.6rem; line-height: 2.08rem; font-weight: 300; }

.footer__bottom { color: #797986; font-size: 1.3rem; line-height: 1.43rem; font-family: GroteskPro, sans-serif; }

.footer__link { color: #b3b3c7; }

.footer__link:hover { color: #797986; }

.title-first { color: #262633; animation-timing-function: ease; }

.title-first__main { display: block; font-weight: 800; font-size: 5rem; line-height: 6rem; letter-spacing: 1rem; text-transform: uppercase; margin-bottom: 1rem; animation-name: leftToRight; animation-duration: 1s; animation-delay: .5s; backface-visibility: hidden; animation-fill-mode: backwards; }

.title-first__secondary { display: block; font-weight: lighter; font-size: 4rem; line-height: 4.8rem; letter-spacing: .5rem; animation-name: rightToLeft; animation-duration: 1s; animation-delay: 1s; animation-timing-function: ease; backface-visibility: hidden; margin-bottom: 6.5rem; animation-fill-mode: backwards; }

@font-face { font-family: 'Golos'; src: url(../../public/font/GolosText-VariableFont_wght.ttf); font-weight: normal; font-style: normal; }

@font-face { font-family: 'LcWeb'; src: url(../../public/font/graphiklcweb_medium.ttf); font-weight: normal; font-style: normal; }

@font-face { font-family: 'RoadRadio'; src: url(../../public/font/roadradio_bold.otf); font-weight: normal; font-style: normal; }

@font-face { font-family: 'GroteskPro'; src: url(../../public/font/akzidenzgroteskpro_md.ttf); font-weight: normal; font-style: normal; }

*, ::after, ::before { margin: 0; padding: 0; box-sizing: border-box; }

button { padding: 0; border: none; font: inherit; color: inherit; background-color: transparent; cursor: pointer; }

html { font-size: 62.5%; font-family: Geometria, sans-serif; font-weight: 400; }

body { background-color: white; }

a { color: inherit; text-decoration: none; background-color: transparent; cursor: pointer; }

.symetry { position: relative; }

.btn { padding: 1.9rem 2.8rem; background: #BF2738; border-radius: 1.4rem; transition: all .3s; height: max-content; }

.btn:hover { background-color: #CC2A3C; cursor: pointer; }

.btn__footer { padding: 1.9rem 2.7rem; background: transparent; border-radius: 1.4rem; border: 2px solid #494950; height: max-content; }

.btn__footer:hover { background-color: #212126; cursor: pointer; }

input[type=submit] { all: unset; padding: 1.9rem 3.7rem; background: #BF2738; border-radius: 1.4rem; height: max-content; color: white; font-family: RoadRadio, sans-serif; font-size: 1.4rem; line-height: 1.4rem; font-weight: 400; }

input[type=submit]:hover { background-color: #CC2A3C; cursor: pointer; }

@font-face { font-family: 'Golos'; src: url(../../public/font/GolosText-VariableFont_wght.ttf); font-weight: normal; font-style: normal; }

@font-face { font-family: 'LcWeb'; src: url(../../public/font/graphiklcweb_medium.ttf); font-weight: normal; font-style: normal; }

@font-face { font-family: 'RoadRadio'; src: url(../../public/font/roadradio_bold.otf); font-weight: normal; font-style: normal; }

@font-face { font-family: 'GroteskPro'; src: url(../../public/font/akzidenzgroteskpro_md.ttf); font-weight: normal; font-style: normal; }

.header { display: flex; flex-direction: row; height: 9.2rem; align-items: center; margin: 0 30rem; }

@media (max-width: 767px) and (min-width: 320px) { .header { margin: 0 5rem; } }

@media (min-width: 768px) { .header { margin: 0 20rem; } }

@media (min-width: 1024px) { .header { margin: 0 25rem; } }

.header__search { margin-left: 2.3rem; }

.header__comparison { margin-left: 1.7rem; }

.header__info { display: flex; justify-content: center; flex-direction: column; margin-right: 5.9rem; margin-left: 5.8rem; }

.header__link { display: flex; flex-direction: row; justify-content: space-around; align-items: center; }

.header__link_first { margin-left: 5.9rem; }

.header__link_middle { margin: 0 4.6rem; }

.header__number { margin-bottom: 6px; }

.main__logo { margin: 0 auto; }

.main__contact { display: flex; flex-direction: row; margin: 0 315px; }

.main__map { margin-top: 6.6rem; margin-bottom: 8.1rem; }

.main__cards { margin: 0 315px; }

.info { margin-right: auto; width: auto; white-space: nowrap; }

.info__number { margin-right: 31.1rem; }

.info__mail { margin-bottom: 2rem; }

.info__name { margin-bottom: 1.5rem; }

.description__place { margin-bottom: 1rem; }

.form__title { margin-bottom: 2rem; }

.form__main { display: flex; flex-direction: column; width: min-content; }

.form__main_top { display: flex; gap: 3rem; flex-direction: row; }

.form__main_top_name { width: 30rem; height: 5.2rem; background: #F5F5F5; border: transparent; border-radius: 1.4rem; padding: 1.7rem 0 1.1rem 2rem; }

.form__main_top_number { width: 30rem; height: 5.2rem; background: #F5F5F5; border: transparent; border-radius: 1.4rem; padding: 1.7rem 0 1.1rem 2rem; }

.form__main_bottom_message { width: 63rem; height: 13.3rem; background: #F5F5F5; margin-top: 2.8rem; border: transparent; border-radius: 1.4rem; padding: 1.7rem 2rem 1.1rem 2rem; resize: none; }

.form__main_checkbox { display: flex; flex-direction: row; padding-top: 2.1rem; padding-bottom: 3.3rem; }

.form__main_checkbox_label { margin-left: 1.6rem; }

input:focus { outline: none; }

textarea:focus { outline: none; }

.container { display: grid; gap: 3rem; grid-template-columns: repeat(4, minmax(0, 1fr)); grid-template-rows: repeat(2, minmax(0, 1fr)); margin-bottom: 10rem; }

.container__card { display: flex; flex-direction: column; padding: 3.3rem 0 4rem 2.2rem; background-color: #F5F5F5; border-radius: 2rem; }

.container__card_title { padding-bottom: 1.5rem; }

.container__card_state { padding-top: 1rem; padding-bottom: 0.6rem; }

.container__card_button { padding-bottom: 2rem; }

.container__card_time { margin-top: auto; }

#last { grid-row: span 1; grid-column: span 2; width: auto; }

.footer__top { display: flex; height: 39.9rem; }

.footer__top_left { display: block; width: 50%; background-color: #212121; }

.footer__top_left_link { display: flex; flex-direction: column; padding-top: 6.3rem; padding-bottom: 6.9rem; width: max-content; gap: 1rem; }

.footer__top_left_grid { display: flex; flex-direction: column; padding-bottom: 4.3rem; }

.footer__top_left_grid_first { display: flex; gap: 1.8rem; flex-direction: row; }

.footer__top_left_grid_second { display: flex; gap: 1.8rem; flex-direction: row; }

.footer__top_right { display: block; width: 50%; background-color: #2A2A2E; }

.footer__top_right_info { display: flex; flex-direction: row; justify-content: space-between; padding-top: 6.3rem; padding-bottom: 2rem; }

.footer__top_right_info_number { display: flex; flex-direction: column; gap: 1rem; }

.footer__top_right_mail { color: #F23147; }

.footer__top_right_street { padding-top: 9.7rem; }

.footer__bottom { height: 6.8rem; display: flex; border-top: rgba(0, 0, 0, 0.8) solid 0.2rem; }

.footer__bottom_left { display: block; flex: 1 1 0%; background-color: #212121; }

.footer__bottom_left_info { padding-top: 2.3rem; }

.footer__bottom_right { display: block; flex: 1 1 0%; background-color: #2A2A2E; }

.footer__bottom_right_info { padding-top: 2.3rem; }

.left_indentation { margin-left: 31.5rem; }

.right_indentation { margin-right: 31.5rem; margin-left: 12.7rem; }

.underHeader { background-color: #F5F5F5; margin-bottom: 6.2rem; }

.underHeader__link { height: 6rem; display: flex; flex-direction: row; justify-content: center; align-items: center; }

.underHeader__link_first { margin-right: 0.85rem; }

.underHeader__link_second { margin-left: 0.85rem; }

.underHeader__main { height: 10rem; display: flex; justify-content: center; align-items: center; border-top: rgba(0, 0, 0, 0.1) solid 1px; }
