.btn
    padding: 1.9rem 2.8rem
    background: $color-red
    border-radius: 1.4rem
    height: max-content
    font-family: RoadRadioNormal, sans-serif
    @include for-tablet
        display: none
    @include for-phone-only
        display: none
    @include for-desktop
        display: table
        margin-left: auto
    &:hover
        background-color: $color-red-hover
        cursor: pointer
    &:active
        background-color: $color-red-click
    &__footer
        padding: 1.9rem 2.7rem
        background: transparent
        border-radius: 1.4rem
        border: 2px solid #494950
        height: max-content
        width: 19rem
        white-space: nowrap
        &:hover
            background-color: #212126
            cursor: pointer
    &__form
        padding: 1.9rem 3.6rem
        background: $color-red
        border-radius: 1.4rem
        height: max-content
        color: white
        font-size: 1.4rem
        line-height: 1.4rem
        &:hover
            background-color: $color-red-hover
            cursor: pointer
        &:active
            background-color: $color-red-click